.janela-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .janela-content {
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .janela-content h2 {
    color: #000;
    margin-bottom: 20px;
  }

  .janela-content p {
    color: #000;
    margin-bottom: 20px;
  }